/* Контейнер форми */
.formContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 2rem;
	font-family: 'Inter', system-ui, -apple-system, sans-serif;
	color: #333;
	background-color: #fff;
	border-radius: 12px;
	margin-bottom: 1rem;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
	max-width: 450px;
}

.button{
	padding: 1rem;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
	font-size: 1rem;
	border: none;
	border-radius: 6px;
	cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 600;
  color: #333;
  background-color: #7de398;
}

.button:hover {
	background-color: #4ff17a;       /* легке затемнення */
	box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
	transform: translateY(-2px);     /* трохи “підстрибує” */
 }
 
 /* Active — ефект при натисканні */
 .button:active {
	background-color: #7de398;       /* ще трохи темніше */
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1) inset; /* легке втиснення */
	transform: translateY(0);        /* повертається на місце */
 }

.formContainer h2{
	margin-bottom: 1rem;
	text-align: center;
}
 
 /* Форма */
 form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border-radius: 12px;
	width: 320px;
	
 }
 
 /* Лейбли */
 label {
	display: flex;
	flex-direction: column;
	font-weight: 500;
	font-size: 0.95rem;
	color: #444;
 }
 
 /* Поля вводу */
 input {
	margin-top: 0.4rem;
	padding: 0.6rem 0.8rem;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 6px;
	background-color: #fafafa;
	color: #333;
	transition: border-color 0.2s ease, background-color 0.2s ease;
 }
 
 /* Активне поле */
 input:focus {
	outline: none;
	border-color: #888;
	background-color: #fff;
 }
 
 /* Контейнер тексту під формою */
 .textContainer {
	margin-top: 1.5rem;
	width: 320px;
	font-size: 0.95rem;
	line-height: 1.5;
 }
 
 /* Підписи з результатами */
 .textContainer p {
	margin: 0.3rem 0;
	color: #555;
 }
 
 /* Ефект при наведенні на поля */
 input:hover {
	border-color: #1199e2;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
 }
 