.header{
	border-bottom: 3px solid black;
	padding: 1.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
 }

 .logo{
	text-align: left;
	font-weight: 800;
	font-size: 1.5rem;
 }

 .nav{
	display: flex;
	gap: 2rem;
	justify-content: space-between;
	font-weight: 600;
 }

 .nav a:hover {
	text-decoration: underline;
 }