.wrapper {
	
	display: flex;
	flex-direction: column;
	min-height: 100vh;     
 }
 
 
 .main{
	gap: 2rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	align-items: center;
 }

 .cards-container{
	width: 100%;
	display: grid;
  	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
 	gap: 2rem;
	padding: 1rem;
 }
 
 
 h1 {
	font-size: 3.2em;
	line-height: 1.1;
 }
 
 .h2{
	font-weight: 700;
	font-size: 1.5rem;
	margin-bottom: 8px;
 }
 
 p{
	font-size: 1rem;
 }
 





