* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: rgb(76, 169, 202);
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

:root {
  --primary-color: #4ca9ca;
  --secondary-color: #333;
}

#root {
  margin: 0 auto;
}

